[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Power2Stage"]
	path = Power2Stage
	url = https://github.com/detlew/power2stage
[submodule "PowerTOST"]
	path = PowerTOST
	url = https://github.com/detlew/powertost
[submodule "randomizeBE"]
	path = randomizeBE
	url = https://github.com/cran/randomizeBE
